html {
  user-select: none; /* Prevents users from highlighting things */
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

body {
  background: rgb(43, 46, 54) linear-gradient( rgb(43, 46, 54), rgb(78, 82, 94));
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

a {
  color: darkgray;
}

a:visited {
  color: darkgray;
}

button {
  text-decoration: none;
  background-color: white;
  border: none;
}

.box {
  padding: 10px;
  background-color: rgb(22, 22, 22);
  box-shadow: 2px 2px 4px rgb(37, 40, 49);
  position: absolute;
}

.rightBox {
  padding: 10px;
  background-color: rgb(22, 22, 22);
  box-shadow: 2px 2px 4px rgb(37, 40, 49);
  position: absolute;
  min-width: 450px;
  transition: all linear 0.2s;
}

.rightBox.ng-hide {
  height: 200px;
}


.rightBox.ng-hide {
  opacity: 0;
}

.panel {
  width: 360px;
  margin: 20px auto;
  justify-content: space-between;
  cursor: pointer;
}

.pixel {
  position: absolute;
  bottom : 10px;
  left: 10px;
}

#upgradePanel {
  min-height: 100px;
  background: rgb(43, 46, 54);
  padding: 10px;
}

#upgradePanel * {
  margin: 10px;
}

#buildingPanel {
  width: 360px;
  min-height: 100px;
  display: flex;
  padding: 10px;
  background: rgb(43, 46, 54);
}

#buildingPanel div {
  padding: 0 10px;
  float: right;
  width: 70%;
}

#buildingPanel div * {
  margin-top: 10px;
  margin-bottom: 10px;
}

#buildingPanel img {
  height: 100px;
  width: auto;
}

#options {
  right: 20px;
  top: 20px;
  height: 130px;
  display: flex;
}

#options div {
  margin: 10px;
  width: 100px;
  height: 70px;
  padding: 10px;
  padding-top: 15px;
  background: rgb(43, 46, 54); 
  text-align: center;
  cursor: pointer;
}

#options div i {
  font-size: 30px;
}

.tab {
  right: 20px;
  bottom: 20px;
  height: 70%;
  overflow-y: auto;
}

#details {
  width: 300px;
  height: 220px;
  bottom: 20px;
  left: 20px;
}

#details button {
  width: 100px;
}

#details button:hover {
  box-shadow: 0px 0px 15px lightgray;
}

#details button:active {
  background-color: lightgray;
}

#settings {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  background: rgba(82, 82, 82, 0.7);
  z-index: 2;
}

#settings div {
  width: 80%;
  max-width: 500px;
  min-height: 400px;
  margin: 50px auto;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 3;
}

#popup {
  left:0;
  bottom:50px;
  margin: 0 auto;
  right:0;
  width: 200px;
  height: 100px;
  display:flex;
  justify-content:center;
  align-items:center;
  opacity:0;
}